<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>WAT WAT IN THE DOWNLOAD</title>

		<!-- Base template header -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Sub template header -->
		{%- block header -%}{%- endblock -%}
		<!-- template header end -->
	</head>
	<body>
		<div class="statusdiv">
			{%- include '_block_nav.html' -%}
		</div>
		<div class="maindiv">
			{%- block content -%}{%- endblock -%}
		</div>




	</body>

	<!-- Base template footer -->
	<script src="/static/js/jquery-latest.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script type="text/javascript" src="/static/js/popupViewer.js"></script>
	<script type="text/javascript" src="/static/js/jquery-latest.js"></script>
	<script type="text/javascript" src="/static/js/jquery.infinitescroll.js"></script>


	<script type="text/javascript">
		$(document).ready(singleImagePopup);
	</script>

	<!-- Sub template-footer -->
	{%- block footer -%}{%- endblock -%}
	<!-- Template footer end -->
</html>



