



{% macro render_releases(nicename, release_data, source_list) %}
	<div>
		<div style="margin-top: 10px;">
			<h2>{{nicename}} {{ date_now() }}</h2>
		</div>
		<table border="1px">
			<tr>
				<th class="padded" width="30px">Site</th>
				<th class="padded" width="100px">Artist</th>
				<th class="padded" width="30px">Src</th>
				<th class="padded" width="600px">Image Source Page URL</th>
				<th class="padded" width="80px">Add Time</th>
			</tr>

			{% for row in release_data %}
				<tr>
					<td class="padded"><a href="/source/by-site/{{row.artist.site_name}}">{{row.artist.site_name}}</a></td>
					<td class="padded" style=" overflow: hidden;">
						<div style="width: 100px;">
							<a href="/source/by-artist/{{row.artist.id}}">{{ aentry_to_nice_name(row.artist.site_name, row.artist.artist_name) }}</a>
						</div>
					</td>
					<td class="padded"><a href="{{source_list[row.artist.site_name]['user-url'] % row.artist.artist_name}}">[src]</a></td>
					{% if row.files%}
						<td class="padded">
							{% for img_file in row.files %}
									<span class="padded showTT" imageID="{{img_file.id}}"><a href='{{row.release_meta}}'>{{release_entry_to_nice_url(row.artist.site_name, row.release_meta)}}</a></span>
							{% endfor %}
						</td>
					{% else %}
						<td class="padded"><a href='{{row.release_meta}}'>{{row.release_meta}}</a></td>
					{% endif %}
					<td class="padded">{{terse_ago(row.addtime)}}</td>
				</tr>
			{% endfor %}

		</table>
	</div>
{% endmacro %}

